<div class="mt-4">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{userDetails.lastName}}</mat-card-title>
      <mat-card-subtitle>pwang009@gmail.com</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div matLine>
            Mobile Number:
            <button mat-button>{{userDetails.mobile}}</button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div matLine>
            Goal
            <button mat-button>
              <mat-chip-listbox>
                <ng-container *ngFor="let row of userDetails.importantList">
                  <mat-chip-option selected> {{row}} </mat-chip-option>
                </ng-container>
              </mat-chip-listbox>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<!-- <h1>works</h1> -->
