.example-card {
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.example-header-image {
  background-size: cover;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhTLFYhroMMkAO7wJEejNnWhZu3BatUMCkyjNC6aM-fw&s");
}
